<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1>* Your Do To *</h1>
<ul class="form-group">
<% @tasks.each do |task| %>
  <%= link_to(task_path(task)) do %>
    <li>
      <input type="checkbox" <%= task.completed ? "checked" : "" %>>
      <label><%= task.title %></label>
    </li>
  <% end %>
<% end %>
</ul>

<%= link_to " + Add a new task", new_path%>
